.main {
  background-color: $grey;
  min-height: calc(100vh - 20rem);
}

.main__noScroll {
  height: calc(100vh - 20rem);
  overflow: hidden;
}

@include respond(tablet) {
  .main__noScroll {
    height: calc(100vh - 10rem);
  }
  .main {
    padding-top: 15rem;
    min-height: 100vh;
  }
}
